.clear{
    clear:both;
    float:none !important;
    height: 0 !important;
    width: 0 !important;
}
.body{
    font-family: Rubik, sans-serif !important;
}
.headerimg{
    position:absolute;
    z-index: 1;
}
.menu {
    display:flex;
    position: relative;
    height: 400px;
    padding: 0 !important;
    top: 0;
}

.menu__div{
    background: #fff;
    margin-top: -10px;
    height: 400px;
}

.menu__logo{
    position: absolute;
    top: 30px;
    left: 150px;
}
.container-fluid{
    position: relative !important;
    z-index: 2 !important;
    padding-top: 165px;
}