.clear{
    clear:both;
    float:none !important;
    height: 0 !important;
    width: 0 !important;
}
.body{
    font-family: Rubik, sans-serif !important;
}
.headerimg{
    position:absolute;
    z-index: 1;
}
.menu {
    display:flex;
    position: relative;
    height: 400px;
    padding: 0 !important;
    top: 0;
}
.menu__div{
    display: flex;
    background: #fff;
    margin-top: -10px;
    height: 400px;
    justify-content: center;
    align-content: center;
}
.menu__div a:hover{
    text-decoration: none !important;
    color: #26317D !important;
}
.menu__div a{
    display: block;
    color: #26317D !important; 
    font-size: 21.6px;
}
.menu__div a > span{
    color: #26317D;
    font-size: 14px !important;
    font-family: Rubik, sans-serif;
    margin-left: 19px;
}
.menu__logo{
    position: absolute;
    top: 30px;
    left: 150px;
}
.button_THICC{
    padding:20px;
    background: #26317D;
    border-radius: 14px;
    display:flex !important;
    justify-content: center;
    position:relative;
    left: -20px;
}
.button_THICC span{
    margin-left: 25px !important;
    margin-top: 3px;
}
.container-fluid{
    position: relative !important;
    z-index: 2 !important;
    padding-top: 165px;
}
.main__categories{
    color: #20223d !important;
    font-size: 21px;
    font-weight: bold;
}
.main__categories > div{
    float: left;
    height: 260px;
    width: 10.5vw;
    text-align: center;
    margin-left: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.19);
    border-radius: 21px;
}
.main__categories p{
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    line-height: 26px;
    margin: 0 auto;
    width: 150px;
    max-width: 100%;
    margin-top: 20px;
}
.main__categories__stay{
    background: #A7F09D;
    
}
.main__categories__exp{
    background: #D8D9DC;
}
.main__categories__new{
    
    background: #7A7FF1;
}
.main__categories__freelance{
    background: #A7F09D;
}
.courses{
    margin-top: 100px;
}
.right_menu{
    margin-top: 30px;
}
.right_menu > a{
    display:block;
    margin-top: 5px;
    font-size: 18px;
    font-family: Rubik;
    color: #24285B;
}
.right_menu > a:hover{
    color: #24285B;
    text-decoration: none;
}
.tags{
    margin-top: 150px;
    width: 300px;
}
.tags h1{
    font-family: Rubik;
    font-size: 18px;
}
.tags a{
    font-family: Rubik;
    font-size: 14px;
    color: #26317D;
}
.tags a:hover{
    color: #24285B;
    text-decoration: none;
}